<!DOCTYPE html>
<html>
	<head>
		<title>Signup Here</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<style type="text/css">
		body{
			background-image: url('https://images.unsplash.com/photo-1569154941061-e231b4725ef1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
			background-repeat: no-repeat;
			background-size: cover;
		}
		</style>
	</head>
	<body>
		<br><br>
		<form method="POST" action="/register">
			<div class='container'>
				<div class='row'>
					<div class="col-sm"></div>
					<div class="col-sm"><center><h1>Sign Up</h1></center></div>
					<div class="col-sm"></div>
				</div>
				<div class='row'>
					<div class="col-sm"></div>
					<div class="col-sm jumbotron">
						<!-- Flash Messages -->
						<% if(error && error.length > 0) { %>
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<%= error %>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						<% } %>

						<div class="form-group row">
				    		<label for="username">Username</label>
				    		<input type="text" class="form-control" id="username" name="username" required>
						</div>
						<div class="form-group row">
				    		<label for="email">Email address</label>
				    		<input type="email" class="form-control" id="email" name="email" required>
						</div>
						<div class="form-group row">
				    		<label for="name">Full Name</label>
				    		<input type="text" class="form-control" id="name" name="name" required>
						</div>
						<div class="form-group row">
				    		<label for="address">Address</label>
				    		<input type="text" class="form-control" id="address" name="address" required>
						</div>
						<div class="form-group row">
				    		<label for="number">Phone Number</label>
				    		<input type="number" class="form-control" id="number" name="number" required>
						</div>
						<div class="form-group row">
				    		<label for="password">Password</label>
				    		<input type="password" class="form-control" id="password" name="password" required>
						</div>
						<div class="form-group form-check row">
							<center>
								<input type="checkbox" class="form-check-input" id="exampleCheck1" required>
				    			<label class="form-check-label" for="exampleCheck1">I agree to Terms and Conditions</label>
							</center>
						</div>
						<center><button class="btn btn-primary">Submit</button></center>
						<center><small>Already have an account? <a href="/login">Login</a> instead.</small></center>
					</div>
					<div class="col-sm"></div>
				</div>
			</div> 
		</form>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>